<h1>New subtraction</h1>

<form action="/wizard_subtract">
  <label for="subtract_num1_id">Subtract this:</label>
  <input type="text" id="subtract_num1_id" name="first_number">

  <label for="subtract_num2_id">from this:</label>
  <input type="text" id="subtract_num2id" name="first_number">

  <button>Subtract!</button>
</form>
